<section class="min-h-screen bg-bg text-text">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 md:py-10">


        <header class="relative mb-10 md:mb-14 text-center">

            <span class="inline-flex items-center justify-center rounded-full border border-secondary/30 bg-bgcontrast/90 px-4 py-1.5 
           text-xs font-semibold text-highlight shadow-sm backdrop-blur">
                100% naturale · fatto a mano
            </span>

            <h1 class="mx-auto mt-5 max-w-2xl text-4xl md:text-6xl font-extrabold leading-tight tracking-tight 
           text-transparent bg-clip-text bg-gradient-to-b from-primary to-accent">
                Assortimento di dolci
            </h1>


            <p class="mx-auto mt-4 max-w-2xl text-base md:text-lg text-text/80">
                Esplora le categorie e scegli il tuo dessert preferito.
            </p>

            <div class="mx-auto mt-6 h-px w-24 rounded-full bg-secondary/30"></div>
        </header>



        <nav class="sticky md:top-30 top-23 z-20 select-none">
            <div class="max-w-5xl mx-auto px-4">
                <div class="flex justify-center py-3">
                    <ul class="inline-flex flex-wrap items-center justify-center gap-2 md:gap-3
                 rounded-full bg-bgcontrast border border-secondary
                 px-3 md:px-4 py-2 shadow-md">
                        @for(section of sections; track section){

                        <li>
                            <a href="assortimento#{{ section }}" class="inline-flex items-center rounded-full px-3 py-1.5 text-sm font-semibold
                    text-primary border border-transparent hover:bg-accent hover:text-bg transition">
                                {{ section }}
                            </a>
                        </li>

                        }


                    </ul>
                </div>
            </div>
        </nav>



        @for(section of sections; track section){
        <sweet-section [nameSection]=section></sweet-section>
        }


    </div>
</section>