<header class="sticky top-0 z-40 bg-bg/90 backdrop-blur border-b border-primary select-none">
    <div class="relative mx-auto px-6 md:px-10 flex items-center justify-between">

        <nav class="hidden md:flex items-center justify-center gap-8 text-md uppercase tracking-wide mx-auto">
            @if(isLogged()){
            <div class="lg:block hidden  h-1 w-70"></div>
            }@else{
            <div class="lg:block hidden h-1 w-55"></div>
            }
            <div class="lg:hidden h-1 w-42"></div>

            <a routerLink="/home" routerLinkActive="active"
                class="font-semibold text-text hover:text-accent transition">Home</a>

            <a routerLink="" fragment="chi-siamo"
                class="font-semibold text-text hover:text-accent transition whitespace-nowrap">Chi
                siamo</a>

            <img src="/pasticceria-giuliano-logo.svg" alt="Logo Pasticceria Giuliano"
                class="w-30 h-30 object-contain mx-6">

            <a routerLink="" fragment="vetrina" class="font-semibold text-text hover:text-accent transition">Vetrina</a>

            <a routerLink="/assortimento" routerLinkActive="active"
                class="font-semibold text-text hover:text-accent transition">Assortimento</a>


            <span class="text-primary opacity-60 select-none font-bold text-2xl ">|</span>
            <a routerLink="/cart">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 shrink-0 text-text hover:text-accent"
                    viewBox="0 0 24 24" fill="none" aria-hidden="true">
                    <path d="M7 9h10a2 2 0 0 1 2 2l-1 7a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2L5 11a2 2 0 0 1 2-2Z"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        fill="none" />
                    <path d="M9 9c0-1.66 1.34-3 3-3s3 1.34 3 3" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" fill="none" />
                </svg>
            </a>

            @if(!isLogged()){
            <a (click)="openLogin()" class="text-text hover:text-accent transition flex items-center gap-1 mt-1"
                title="Accedi">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 mt-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M5.121 17.804A9.004 9.004 0 0112 15c2.21 0 4.21.804 5.879 2.13M12 12a4 4 0 100-8 4 4 0 000 8z" />
                </svg>
                <span class="font-semibold lg:block hidden">Entra</span>

            </a>
            }@else{
            <details class="relative">
                <summary
                    class="inline-flex cursor-pointer select-none items-center gap-1 text-text hover:text-accent transition mt-3 list-none"
                    aria-haspopup="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 shrink-0 mt-0.5" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M5.121 17.804A9.004 9.004 0 0112 15c2.21 0 4.21.804 5.879 2.13M12 12a4 4 0 100-8 4 4 0 000 8z" />
                    </svg>

                    <span class="font-semibold lg:block hidden">{{ this.nome() }}</span>

                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 shrink-0 translate-y-[1px]"
                        viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path d="M4 6 L20 6 L12 18 Z" />
                    </svg>
                </summary>


                <div class="absolute right-0 mt-2 min-w-44 rounded-2xl border border-black/10 bg-white/95 shadow-xl backdrop-blur p-1 z-50"
                    role="menu" aria-label="Menu utente">
                    <a routerLink="/profilo"
                        class="flex items-center gap-2 px-3 py-2 rounded-xl hover:bg-black/5 active:scale-[0.99] transition"
                        role="menuitem">
                        Profilo
                    </a>



                    <hr class="my-1 border-black/10">

                    <button type="button"
                        class="w-full text-left flex items-center gap-2 px-3 py-2 rounded-xl hover:bg-red-50 text-red-600 active:scale-[0.99] transition"
                        role="menuitem" (click)="logout()">
                        Esci
                    </button>
                </div>
            </details>

            }
        </nav>

        <div class="h-1 w-13 md:hidden"></div>
        <div class="flex flex-1 items-center justify-center md:hidden">
            <img src="/pasticceria-giuliano-logo.svg" alt="Logo Pasticceria Giuliano" class="w-24 h-24 object-contain">
        </div>

        <button (click)="closeBurger()"
            class="md:hidden inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary hover:bg-secondary  focus:outline-none transition"
            aria-label="Apri menu">
            <img class="w-6" src="/menu-icon.svg">
        </button>



    </div>
</header>

@if(isMenuOpen){
<burger-menu [nome]="nome()" [isLogged]="isLogged()" (logged)="openLogin()" (gotoSignup)="openSignup()"
    (isMenuOpen)="closeBurger()" class="fixed right-6 z-[9999]"></burger-menu>
}

<login (logged)="onLogin()" (gotoSignup)="openSignup()"></login>
<sign-up (gotoLogin)="openLogin()"></sign-up>